# Archivos compilados de .NET
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Configuraciones locales
.vscode/
.idea/

# Publicaciones
publish/

# Archivos del sistema
.DS_Store
Thumbs.db